<div class="row">
  <div class="col-md-6">
    <p class="input-group">
      <input type="text" name="{{key}}" class="form-control error success" datepicker-popup="yyyy/MM/dd" ng-model="answer.content" ng-required="field.required" is-open="opened" datepicker-options="{formatYear: 'yy',startingDay: 1}" close-text="Close" />
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
    </p>
  </div>
</div>
