<h5>Options</h5>
<ul class="list-group">
    <li class="list-group-item" ng-repeat="option in field.options">
      {{ option.text }}
      <button type="button" class="close" ng-click="deleteOption(option)" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    </li>
</ul>
<div class="form-inline">
    <input type="text" class="form-control" ng-model="newOption.text" placeholder="Type your options" />
    <button class="btn btn-default" ng-click="addOption(newOption)" >Add</button>
</div>
