<ng-form name="nestedField" class="form-group">
    <label>Question {{ count }}</label>
    <div class="input-group">
        <input type="text" class="form-control error" name="question" ng-model="field.question" placeholder="Ask your questions" required />
        <span ng-if="nestedField.$dirty" ng-messages="nestedField.question.$error">
          <span class="error-text" ng-message="required">This field is required</span>
        </span>
        <select class="form-control error" name="type" ng-model="field.type" ng-options="type for type in ctrl.inputTypes" required>
            <option value="">Select the type of input</option>
        </select>
        <span ng-if="nestedField.$dirty" ng-messages="nestedField.type.$error">
          <span class="error-text" ng-message="required">This field is required</span>
        </span>
        <a class="btn btn-info input-group-addon" ng-click="ctrl.copy(field)">Copy</a>
        <a class="btn btn-danger input-group-addon" ng-click="ctrl.delete(field)">Delete</a>
    </div>
</ng-form>
<br />
<ng-form name="nestedValidation" class="form-group" ng-if="ctrl.isRequirable(field.type) || ctrl.isRangable(field.type)" >
  <label>Validations</label>
  <div class="form-inline" ng-if="ctrl.isRequirable(field.type)">
    <input type="checkbox" ng-model="field.required"> Required?
  </div>
  <div class="form-inline" ng-if="ctrl.isRangable(field.type)">
    <input type="checkbox" ng-model="field.maxlengthReq" ng-change="ctrl.cleanUp(!field.maxlengthReq,'maxlength')"> Maximum character length?
    <input type="number" class="form-control error" ng-model="field.maxlength" name="maxlength" required ng-if="field.maxlengthReq" >
    <span ng-if="field.maxlength != null" ng-messages="nestedValidation.maxlength.$error">
      <span class="error-text" ng-message="required">Required</span>
      <span class="error-text" ng-message="number">Not a number</span>
    </span>
  </div>
  <div class="form-inline" ng-if="ctrl.isRangable(field.type)">
    <input type="checkbox" ng-model="field.minlengthReq" ng-change="ctrl.cleanUp(!field.minlengthReq,'minlength')" > Minimum character length?
    <input type="number" class="form-control error" ng-model="field.minlength" name="minlength" required ng-if="field.minlengthReq" >
    <span ng-if="field.minlength != null" ng-messages="nestedValidation.minlength.$error">
      <span class="error-text" ng-message="required">Required</span>
      <span class="error-text" ng-message="number">Not a number</span>
    </span>
  </div>
  <div class="form-inline" ng-if="ctrl.isNumerable(field.type)">
    <input type="checkbox" ng-model="field.maxReq" ng-change="ctrl.cleanUp(!field.maxReq,'max')"> Maximum number?
    <input type="number" class="form-control error" ng-model="field.max" name="max" required ng-if="field.maxReq" >
    <span ng-if="field.max != null" ng-messages="nestedValidation.max.$error">
      <span class="error-text" ng-message="required">Required</span>
      <span class="error-text" ng-message="number">Not a number</span>
    </span>
  </div>
  <div class="form-inline" ng-if="ctrl.isNumerable(field.type)">
    <input type="checkbox" ng-model="field.minReq" ng-change="ctrl.cleanUp(!field.minReq,'min')" > Minimum number?
    <input type="number" class="form-control error" ng-model="field.min" name="min" required ng-if="field.minReq" >
    <span ng-if="field.min != null" ng-messages="nestedValidation.min.$error">
      <span class="error-text" ng-message="required">Required</span>
      <span class="error-text" ng-message="number">Not a number</span>
    </span>
  </div>
  <div class="form-inline" ng-if="ctrl.isDatable(field.type)">
    <input type="checkbox" ng-model="field.maxdateReq" ng-change="ctrl.cleanUp(!field.maxdateReq,'maxdate')"> Maximum date?
    <input type="date" class="form-control error" ng-model="field.maxdate" name="maxdate" required ng-if="field.maxdateReq" >
    <span ng-if="field.maxdate != null" ng-messages="nestedValidation.maxdate.$error">
      <span class="error-text" ng-message="required">Required</span>
      <span class="error-text" ng-message="date">Not a number</span>
    </span>
  </div>
  <div class="form-inline" ng-if="ctrl.isDatable(field.type)">
    <input type="checkbox" ng-model="field.mindateReq" ng-change="ctrl.cleanUp(!field.mindateReq,'mindate')" > Minimum date?
    <input type="date" class="form-control error" ng-model="field.mindate" name="mindate" required ng-if="field.mindateReq" >
    <span ng-if="field.mindate != null" ng-messages="nestedValidation.mindate.$error">
      <span class="error-text" ng-message="required">Required</span>
      <span class="error-text" ng-message="date">Not a number</span>
    </span>
  </div>
</ng-form>
<ng-transclude></ng-transclude>
<br />
<!-- <div ng-if="ctrl.hasOption(field.type)">
    <h5>Options</h5>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="option in field.options">{{ option }}</li>
    </ul>
    <div class="form-inline">
        <input type="text" class="form-control" ng-model="ctrl.option" placeholder="Type your options" />
        <button class="btn btn-default" ng-click="ctrl.addOption(ctrl.option)" >Add</button>
    </div>
</div> -->
